body
{
	height: 100%;
	padding-top: 50px;
}

form {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  color: #00B7FF;
}
